/*
Homework wk2
Portfolio Start
-Steve Barry-
main css file
*/

body{
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    position: relative;
}
#titleName{
    font-size: 200%;
    padding-left: 10%;
    position: relative;
    padding-top: 1.2%;
    height: 100%;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
#titleName:hover{
    background-color: rgba(0, 0, 0, 1);
}
img{
    position: relative;
}
.sticky{
    position: sticky;
    top: 0;
    z-index: 2;
}
a{
    text-decoration: none;
}
.clear{
    content: "";
    clear: both;
    display: table;
}
header{
    /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0)); */
    position: fixed;
    width: 100%;
    height: 10%;
    color: lavenderblush;
    vertical-align: middle;
    z-index: 1;
}


#banner{
    width: 100%;
    background: linear-gradient(bottom, black,rgba(255,255,255,1));
    border: none;
}
.mainContent{
    position: relative;
    margin: 0 10%;
}
.mainContent p{
    margin-bottom: 15px;
}
.mainLeft{
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    text-align: justify;
    margin-bottom: 20px;
    /* width: 100%; */
}
.mainRight{
    float: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: relative;
    text-align: justify;
    margin-bottom: 20px;
    /* width: 100%; */
}
.leftWords, .rightWords{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    margin: auto 5%;
    text-align: justify;
}
.leftWords h3 {
    line-height: 250%;
    font-size: 150%;
    font-style:italic;
}

.rightWords h3{
    text-align: right;
    line-height: 250%;
    font-size: 150%;
    font-style:italic;
}
#me, #css{
    float: left;
    position: relative;
    width:250px;
}
#me{
    height: 330px;
}
.mainContent img{
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}
#html{
    float: right;
    position: relative;
    width:250px;
    height:150px;
}
#css{
    padding: 0 60px;
    height:150px;
}
footer{
    position: relative;
    bottom: 0;
    margin-top: 5%;
    width: 100%;
    height:50px;
    padding-top: 5px;
    z-index: 3;
    text-align: center;
    color: var(--baseColor);
    text-shadow: 1px 2px var(--baseAlpha);
    text-decoration: none;
}

footer ul li, footer p, footer a{
    color: var(--baseColor);
    text-shadow: 1px 1px  var(--baseAlpha);

    margin: 0 50px;
    display: inline-block;
    font-size: 75%;
}

.displayCode{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-self: center;
    margin: 0;
}
.codepen{
    align-self: center;
    margin: 0;
}
/* #bb8, #saber{
    margin-right: 50px;
} */

/* @media screen and (max-width:1060px) {
    .leftWords, .rightWords{
        width: 100%;
    }
} */