/*
Homework wk2
Portfolio Start
-Steve Barry-
media css file
*/


@media screen and (max-width:1060px) and (min-width:800px) {
    .leftWords, .rightWords{
        width: 50%;
    }
}
@media screen and (max-width:800px) and (min-width:650px) {
    .leftWords, .rightWords{
        width: 40%;
    }
    #me, #html{
        margin:auto 0;
    }
}
@media screen and (max-width:650px) {
    .leftWords, .rightWords{
        width: 100%;
    }
    #me, #html, .leftWords, .rightWords, #css, #js, .recommend{
        margin:0 auto;
    }
    h1{
        visibility: hidden;
    }
    h1:before{
        content: "SB";
        line-height: 200%;
        visibility: visible;
        left:50px;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 10%;
        padding-top: 1.2%;
        height: 100%;
        width: 100%;
    }
    h1:before:hover{
        background-color: rgba(0, 0, 0, 1);
    }
    h3{
        margin: 0 auto;
    }
    .menuLink{
        margin: 1% 0;
        padding: 3px 15px;
    }
    .menu{
        right: 0;
        align-content: right;
    }
}